<head>
  <meta charset="utf-8">
  <title>Table of Elements Visualization</title>
  <link rel="alternate" type="application/rss+xml" title="My Portfolio" href="/rss/posts">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="vis.js"></script>
</head>

<template name="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Toes Data Visualization</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a href="about">About Us</a>
          </li>
          <li>
            <a href="news">News</a>
          </li>
          <li>
            <a href="contact">Contact Us</a>
          </li>
          <li>
            <a href="{{blogPathFor "blogIndex"}}">Blog</a>
          </li>
          <li>
            <a href="{{blogPathFor "blogAdmin"}}">Admin Area (must be logged)</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </div>
</template>
