<template name="news">
	<div class="container">
        <section id="body" class="container">
		    <div class="page-header">
		      <!-- <ol class="breadcrumb">
		        <li><a href="index.html">Home</a></li>
		        <li><a href="about.html">About</a></li>
		      </ol>-->
		      <h1>A propos de la République Démocratique du Congo</h1>
		    </div>

		    <div class="well well-lg">
		      <p class="lead">La République Démocratique du Congo est le deuxième pays francophone du monde en population qui parle français, juste derrière la France. Une minorité grandissante parle couramment le français (33 millions de Congolais savent le lire et l'écrire, selon une estimation de l'OIF en 2014, soit 47 % de la population du pays46). En effet, langue officielle, le français est la langue principale de l'éducation, et la langue de l'administration, des médias et des affaires. Le français de la République démocratique du Congo, ancienne colonie belge, a beaucoup emprunté au français de Belgique et au wallon. Il a également développé des caractères propres et de nombreux néologismes.
		        36 millions de Congolais utilisent le lingala comme première ou seconde langue, il est également parlé au Congo-Brazzaville, en Centrafrique et en Angola, ce qui peut faciliter les communications vers ces pays. Le lingala est ainsi une des grandes langues africaines, bien qu'il soit largement méconnu en dehors du continent. Le lingala, parlé initialement par les Ngala, s'est répandu car il était la langue la plus parlée par les militaires et les missionnaires pendant la colonisation belge. Il a connu son apogée sous Mobutu, car il était la langue du pouvoir et de la très populaire musique de Kinshasa.</p>
		    </div>

		    <p>Le kikongo (2 millions de locuteurs) est la langue des Bakongo des deux Congo, en Angola et Gabon. C'est la première langue d'Afrique centrale à avoir disposé d'une grammaire écrite lorsque le royaume de Kongo est entré en contact avec les Portugais en 1645.
		      Vers les zones frontalières du Cabinda et de l'Angola, le pays compte quelques milliers de lusophones, mais leur nombre exact est inconnu.
		      Vestige de la colonisation belge, le néerlandais qui fut la deuxième langue administrative du Congo belge de 1908 à 1960 n'est plus parlé que par quelques 100 000 à 250 000 personnes (plus de 200 000 en 1980) le plus souvent âgées de plus de 60-65 ans, mais aussi par des plus jeunes, éparpillées sur tout le territoire, qui sont le plus souvent des métis, ou retraités de l'ex-administration coloniale, souvent métis.
		      Le néerlandais, dont les statistiques sont difficiles à établir, devient différent du néerlandais parlé en Belgique, ou aux Pays-Bas, car il n'est pas enseigné dans le pays. Isolé du néerlandais parlé en Belgique, ou aux Pays-Bas, le néerlandais parlé en RDC du Congo à tendance à avoir de nouveaux mots lingala, français, ou anglais, dans son vocabulaire, et surtout depuis 1980. Le Néerlandais en RDC, au vu de son isolement, d'une région à une autre, avec des groupes isolés de locuteurs, évolue avec les langues africaines.</p>

		    <p> Le néerlandais reste cependant une langue de culture en RDC. Les archives, entre 1908 et 1960, sont bilingues français-néerlandais avec d'importantes variantes, avec même certains documents uniques en néerlandais. Les 15 plus grandes bibliothèques du pays ont un fonds de milliers de livres en néerlandais dont certains rares ou uniques. Les locuteurs du néerlandais sont le plus souvent bilingues néerlandais-français ou même néerlandais-anglais. Le néerlandais n'est plus une langue universitaire depuis 1971, et il a cessé d'être une langue administrative en 1961, quand fut choisie la langue française comme seule langue officielle par l'État congolais devenu indépendant.</p>

		    <p> L'anglais est plus courant de nos jours. Le président Joseph Kabila a passé son enfance en Tanzanie, et parle plus couramment l'anglais que le français. L'anglais est très présent depuis l'arrivée de rebelles venus d'Ouganda, de Tanzanie, et du Rwanda pendant le conflit congolais. Vu le chaos post-conflit, le recensement des anglophones n'était pas une priorité, et il ne l'est pas encore de nos jours. Le nombre de locuteurs devrait cependant s'élever à plusieurs milliers de locuteurs. Il est au moins plus parlé que le portugais. L'anglais est une langue commerciale, enseignée dans les universités du pays, et devient de plus en plus important, car il est la langue souvent utilisée par les soldats de l'ONU et par les réfugiés (et maintenant certains jeunes) de retour au pays qui étaient partis dans les pays anglophones voisins depuis les années 1960 (il y a plus de 300 000 jeunes citoyens de la République démocratique du Congo qui vivent dans les pays anglophones voisins des grands lacs et qui souhaitent rentrer, ou qui sont revenus en RDC)</p>

		    <p>Le Congo a une culture musicale très riche, sa musique connue sous le nom de rumba ou encore ndombolo fait danser toute l'Afrique. La musique congolaise a du succès par delà les frontières depuis les années 1960 aux côtés de la musique de la Côte d'Ivoire, de Guinée ou du Nigeria[réf. nécessaire]. Actuellement appelée soukous, elle a donné naissance à d'autres styles de musique comme le quassa-quassa et d'autres. Le kotazo est un style de musique qui est apparu en 2002 un mélange de soukous et ndombolo.</p>

		    <h3>Oeuvres</h3>
		    <div class="row">
		        <div class="col-md-12">
		          <div class="table-responsive">
		            <table class="table table-striped table-bordered table-hover table-condensed">
		                <thead>
		                  <tr>
		                    <th>Sujets</th>
		                    <th>Titre</th>
		                  </tr>
		                </thead>
		                <tr>
		                  <td>David Turnbull Meteor</td>
		                  <td><a href="http://www.youtube.com/watch?v=GUyOBGPurL4&list=PLmN7wiXuLzCCFWqugxn2vEZIFghqoKYBj&index=1">Your First Meteor Apllication</a></td>
		                </tr>
		                <tr>
		                  <td>Site Code Academy</td>
		                  <td><a href="http://www.codecademy.com">Code Academy</a></td>
		                </tr>
		                <tr>
		                  <td>Site W3Schools</td>
		                  <td><a href="http://www.w3schools.com">W3Schools</a></td>
		                </tr>
		                <tr>
		                  <td>Site Mozilla Developer Network</td>
		                  <td><a href="http://developer.mozilla.org">Web Technology for Web Developers</a></td>
		                </tr>
		                <tr>
		                  <td>ARC GIS</td>
		                  <td><a href="http://http://www.arcgis.com/features/index.html">Une cartographie sans limite</a></td>
		                </tr>
		                <tr>
		                  <td>Images Féeriques de Norvège</td>
		                  <td><a href="http://www.w3schools.com/howto/howto_css_modal_images.asp">Image Féerique Norvège</a></td>
		                </tr>
		                <tr>
		                  <td>Maurice Ravel (1875-1937)</td>
		                  <td><a href="http://www.youtube.com/watch?v=r30D3SW4OVw">Bolero de Maurice Ravel à Londres</a></td>
		                </tr>
		            </table>
		          </div>
		        </div>
		    </div>

		    <div class="row">
		        <div class="col-md-4 col-sm-6">
		          	<div class="thumbnail">
			            <a href="#">
			              <img src="images/69-69-Masque_facial_anthropomorphe_Kwele-Congo.jpg" class="img-responsive" alt="1">
			            </a>
			            <div class="caption">
				            <h3>First</h3>
				            <p>Les fresques du célèbre artiste de la chapelle Sixtine ont révélé qu'il souffrait dans ses derniers jours d'une sévère inflammation des articulations. Un mal qui a été néanmoins atténué par l'usage ininterrompu de la peinture, jusqu'à son dernier souffle. Il avait une main de génie et des doigts rongés par l'arthrite. Le grand artiste de la Renaissance, Michel-Ange, aurait selon des scientifiques italiens souffert durant de longues années des effets chroniques de l'arthrose, laissant ses doigts tordus et presque paralysés. À l'instar de David, la répétition et l'usage excessif du marteau et du burin pour ses travaux de sculpture seraient responsables de la</p>
		            	</div>
		         	</div>
		        </div>
		        <div class="col-md-4 col-sm-6">
		          	<div class="thumbnail">
		            	<a href="#">
		             	<img src="images/69-69-Kwele_mask-Gabon.jpg" class="img-responsive" alt="2">
		            	</a>
		            	<div class="caption">
		             		<h3>Second</h3>
		              		<p>À l'instar de David, la répétition et l'usage excessif du marteau et du burin pour ses travaux de sculpture seraient responsables de la déformation de sa main les trente dernières années de sa vie, avance une équipe de scientifiques italiens après avoir étudié les toiles et les lettres du grand maître. Le sculpteur qui ne présentait aucun signe d'arthrose avant ses 60 ans aurait, passé cet âge, commencé à voir les premiers symptômes se déclarer: «Il est certain que d'après ses lettres, Michel-Ange était atteint d'une maladie touchant les articulations. Si les scientifiques avaient à l'époque attribué ce mal à la goutte, nous savons maintenant, d'après nos analyses, qu'il n'en est rien», a expliqué le Dr Davide Lazzeri, un spécialiste de la chirurgie plastique à Rome.</p>
		            	</div>
		            </div>
		        </div>
		        <div class="col-md-4 col-sm-6">
		          	<div class="thumbnail">
		           		<a href="#">
		              	<img src="images/69-69-Masque_facial_anthropomorphe_Kwele-Gabon.jpg" class="img-responsive" alt="3">
		            	</a>
		            	<div class="caption">
		              		<h3>Third</h3>
		              		<p>Pourtant, ce bourreau de travail n'abandonna jamais son art, jusqu'à son dernier souffle. Cette persévérance lui aura finalement été très bénéfique: «En effet, le travail répété et intense de l'artiste, lui aura sûrement permis de bouger ses mains jusqu'à la fin de sa vie», continue le chirurgien. Le fait d'obliger ses doigts à se contorsionner autour de ses outils aura donc entretenu la flexibilité de ses articulations.»
		              		La science ne fait aujourd'hui que confirmer ce que la légende dit depuis longtemps: le jour de sa mort , on a dû découper au couteau les guêtres et les bottes qui restaient collées à sa peau.</p>
		            	</div>
		         	</div>
		        </div>
		    </div> <!-- div class row -->
		</section>
		<hr />
		<footer class="container">
			<p>Avec la courtoisie du <a href="http://www.sitepoint.com">Sitepoint</a>.</p>
		</footer>
	</div>
</template>