<template name="contact">
	<div class="container">
      <section id="body" class="container">
        <!-- Le fil d'Arianne : In English BREDCRUMB -->
        <div class="page-header">
          <!-- <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
          </ol>-->
          <h1>Contactez-nous!</h1>
        </div>

        <!-- modèle de formulaire -->
        <div class="row">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="nameInput" class="control-label col-md-2">Nom</label>
              <div class="col-md-10">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></span>
                  <input type="text" name="nameInput" class="form-control" placeholder="Votre nom" />
                  <span class="input-group-addon">!</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="emailInput" class="control-label col-md-2">Email</label>
              <div class="col-md-10">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <input type="email" name="emailInput" class="form-control" placeholder="Votre Email" />
                </div>
              </div>
            </div>

  		      <div class="form-group">
              <label class="control-label col-md-2">Message</label>
              <div class="col-md-10">
                <textarea cols="40" rows="6" class="form-control" placeholder="Votre Message"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Submit" class="btn btn-success" />
              </div>
            </div>
          </form>
        </div>     <!-- div row -->

        <h3>Nos recommandations</h3>
        <div>
          <address>
            Mohamed GHACHI
            <br />2, Rue Charles Cusin
            <br />1201 Geneva
            <br />
            <abbr title="Phone">P:</abbr>
            +41 77.424. 9508
          </address>
          <address>
            <strong>Support:</strong> <a href="mailto:support@opica777.com">
            Support@opica777.com</a>
            <br />
            <strong>Marketing:</strong> <a href="mailto:marketing@opica777.com">Marketing@opica777.com</a>
          </address>
        </div>
      </section>
      <hr />
      <footer class="container">
         <p>Avec la courtoisie de nos amis de <a href="https://www.sitepoint.com/">SitePoint</a>.</p>
      </footer>
  </div>
</template>
