<template name="about">
	<div class="container">
	<div class="row">
			 <div class="col-md-4 col-sm-6">
				 <div class="thumbnail">
					 <a href="#">
						 <img src="images/69-69-Masque_facial_anthropomorphe_Kwele-Congo.jpg" class="img-responsive" alt="1">
					 </a>
					 <div class="caption">
						 <h3>First</h3>
						 <p>Les fresques du célèbre artiste de la chapelle Sixtine ont révélé qu'il souffrait dans ses derniers jours d'une sévère inflammation des articulations. Un mal qui a été néanmoins atténué par l'usage ininterrompu de la peinture, jusqu'à son dernier souffle. Il avait une main de génie et des doigts rongés par l'arthrite. Le grand artiste de la Renaissance, Michel-Ange, aurait selon des scientifiques italiens souffert durant de longues années des effets chroniques de l'arthrose, laissant ses doigts tordus et presque paralysés. À l'instar de David, la répétition et l'usage excessif du marteau et du burin pour ses travaux de sculpture seraient responsables de la</p>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 col-sm-6">
				 <div class="thumbnail">
					 <a href="#">
						 <img src="images/69-69-Kwele_mask-Gabon.jpg" class="img-responsive" alt="2">
					 </a>
					 <div class="caption">
						 <h3>Second</h3>
						 <p>À l'instar de David, la répétition et l'usage excessif du marteau et du burin pour ses travaux de sculpture seraient responsables de la déformation de sa main les trente dernières années de sa vie, avance une équipe de scientifiques italiens après avoir étudié les toiles et les lettres du grand maître. Le sculpteur qui ne présentait aucun signe d'arthrose avant ses 60 ans aurait, passé cet âge, commencé à voir les premiers symptômes se déclarer: «Il est certain que d'après ses lettres, Michel-Ange était atteint d'une maladie touchant les articulations. Si les scientifiques avaient à l'époque attribué ce mal à la goutte, nous savons maintenant, d'après nos analyses, qu'il n'en est rien», a expliqué le Dr Davide Lazzeri, un spécialiste de la chirurgie plastique à Rome.</p>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 col-sm-6">
				 <div class="thumbnail">
					 <a href="#">
						 <img src="images/69-69-Masque_facial_anthropomorphe_Kwele-Gabon.jpg" class="img-responsive" alt="3">
					 </a>
					 <div class="caption">
						 <h3>Third</h3>
						 <p>Pourtant, ce bourreau de travail n'abandonna jamais son art, jusqu'à son dernier souffle. Cette persévérance lui aura finalement été très bénéfique: «En effet, le travail répété et intense de l'artiste, lui aura sûrement permis de bouger ses mains jusqu'à la fin de sa vie», continue le chirurgien. Le fait d'obliger ses doigts à se contorsionner autour de ses outils aura donc entretenu la flexibilité de ses articulations.»
						 La science ne fait aujourd'hui que confirmer ce que la légende dit depuis longtemps: le jour de sa mort , on a dû découper au couteau les guêtres et les bottes qui restaient collées à sa peau.</p>
					 </div>
				 </div>
			 </div>
		 </div>
</div>

</template>
