<template name="toe_viz">
  <div class="row">
    <div class="col-md-6">
      TOE_VIS
      {{> toe_viz_controls}}
      {{> toe_feature_list}}
    </div>
    <div class="col-md-6">
      {{> toe_vizjs}}
    </div>
  </div>
</template>


<template name="toe_viz_controls">
  <form>
    <!-- list of available single features -->
    Single numeric features:
    <br/>
    <select class="js-select-single-feature">
      {{#each get_feature_names "single"}}
      <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
    <button class="btn js-show-blobs">Blobs</button>
    <button class="btn js-show-timeline">Timeline</button>
    <button class="btn js-show-graph">Graph</button>
  </form>
</template>

<template name="toe_feature_list">
  <table class="toes">
    <tr><th colspan="3" class="head">{{feature}}</th></tr>
    <tr><th>Symbol</th><th>Value</th><th>Element</th></tr>
  {{#each get_all_feature_values}}
    <tr>
      <td class="symbol" style="color:{{foreColor}};">{{symbol}}</td>
      <td class="value">{{value}}</td>
      <td class="name" style="background:linear-gradient(to right,rgba(0,0,0,0), {{backColor}});">{{name}}</td>
    </tr>
  {{/each}}
  </table>
</template>


<template name="toe_vizjs">
  <div id="visjs"></div>
</template>

